$mainRedColor: #ba0000
$secondYellowMainColor: #ffcc00
$white: #ffffff

*
   margin: 0
   padding: 0
   box-sizing: border-box
   font-family: 'Poppins', sans-serif;


.topHeader_block
    background: $mainRedColor
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 200px
    color: $white
    .leng
        margin-right: 100px
    .contact
        padding-bottom: 10px
    .item_country
        font-size: 16px
        color: #000000
        background: $secondYellowMainColor

   
            
    option
        background: $mainRedColor
        font-size: 16px
        color: $white
.nav
    background: $secondYellowMainColor
    padding: 40px 0px
    .wraper_nav
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0px 170px
        .menu
            display: flex
            li
                list-style: none
                padding-left: 15px
            .menu_item
                text-transform: uppercase
                font-size: 20px
                text-decoration: none
                color: $mainRedColor
                
                padding-bottom: 49px
                &:hover
                    transition: all .2s ease
                    border-bottom: 3px solid $mainRedColor
                    font-weight: bold
        .search
            padding: 20px
            background: $mainRedColor
            border-radius: 50%
            box-shadow: 2px 7px 13px  $mainRedColor

.headerMain
    background: url(../img/bg.png)
    background-size: cover
    background-repeat: no-repeat 
    padding: 180px 270px
    .we
        color: $white
        font-size: 50px
        
    .descText
        color: $secondYellowMainColor
        font-size: 20px

    .line
        width: 60px
        height: 3px
        margin: 20px 0px
        background: $secondYellowMainColor
    .infoDesc
        display: flex
        padding: 20px 0px
    .info_item
        padding-left: 15px
        font-size: 20px
        color: $white
        text-transform: uppercase
    .block_button
        display: flex
        text-transform: uppercase
        margin-top: 25px
        a
            color: $white
            text-decoration: none
            padding: 10px 30px
            border: 2px solid $white
            border-radius: 20px
            &:hover
                transition: .5s ease all
                color: $mainRedColor
                background: $secondYellowMainColor
                border: 2px solid $secondYellowMainColor
                

        
        
        .btnLearn
            padding-right: 20px
            
            
          
        
                
            
            
                
            

               
        
        

       
        
                    
            

        
            